<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black !important;
    color: black !important;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }


  
  
</style>

<!-- Toolbar -->

<div class="content" role="main">
  <p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Bottom Sidebar</h1>
    <button  type="button" (click)="display=false" label="Save" class="ui-button-success"></button>
    <button  type="button" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>

  <p-calendar  [showIcon]="true" dataType="string" placeholder="select date" ></p-calendar>

  <!-- Highlight Card -->
</div>

<label>Your first ng-select</label>
<ng-select [items]="cities"
           bindLabel="name"
           bindValue="id"
           placeholder="Select city"
           [clearable]=true
           [clearOnBackspace]= true
           [multiple]="true"
           [(ngModel)]="user.selectedCity">
</ng-select>
<p>
    Selected city: {{user.selectedCity | json}}
</p>
<hr />

<h4 style="background-color: grey;" class="position--sticky">Heading 1</h4>
<p>Sometimes referred to as a niche site, authority site or blog, content sites are basically a library of content and information built around a certain topic. And the goal is usually constant: Build as much traffic as you can, then monetize that traffic as effectively as possible.

  Some of the biggest content sites on the web today are Forbes, ESPN, Huffington Post, and Inc. Of course, these are giant media companies with hundreds or thousands of employees writing for them. Most content websites you see on the web today are run by just one or two people, and maybe a few freelance writers helping them out.
  
  For example, Succulents and Sunshine is a perfect example of a content website that has built a huge audience (and business) in a tiny niche. The blog is run by a single person, Cassidy Tuttle, who now makes six figures from her blog.
  
  But how did a site like Succulents and Sunshine grow such a large business with only one person running it?
  
  She chose a targeted niche, created evergreen content, and slowly built up a large audience over time. Once she had enough traffic coming in, she monetized it.
  
  That traffic can be monetized in various ways like selling ebooks and courses, offering services, display ads, affiliate marketing, collecting and selling leads, etc. The strategy of building and scaling content sites can differ depending on the strategy you choose.
  
  For example, do you want to put out thought pieces and showcase your personal expertise,
  build an audience who trusts you, then sell services, consulting, or training? Or do you just want to pump out content, rank for as many keywords as possible, and monetize with ads and affiliate links?
  
  When growing a niche site, most people don’t understand that it’s not a “quick” way to make money. It requires a lot of time, resources, and creativity. You could spend 4 months working on it every day and never make a dollar. In fact, most people don’t see any profits before the 6-month mark of growing their site. As a result, most people give up before they start seeing money.
  
  It’s important to understand that it’s a long term investment, and if you’re persistent, it will grow and be profitable eventually. The reason why people are willing to put in the work and wait months before seeing a profit is that once it’s built up, it almost acts like a self-sustaining machine.
  
  The Pros & Cons of Building Niche/Authority Content Websites Over Ecommerce Websites
  Although ecommerce sites do have many pros—including being able to monetize it from the get-go—there are a few instances where building a content site could be more beneficial compared to building an ecommerce site.
  
  PROS OF BUILDING CONTENT WEBSITES
  High Profit Margins: Niche sites have very low overhead cost. Traffic is free, long-term, and many monetization strategies have over 90% profit margins. Ecommerce sites have more expenses. They have to manufacture products or purchase them from suppliers. They also have shipping costs, employees, and will usually need to pay a fee to a fulfillment center.
  It’s Passive: Niche sites are much more passive. Depending on the monetization strategies you use, you can literally not even look at the site for a month and it can still make the same amount of money. If you’re using ads or affiliate marketing, you don’t need to deal with things like customer service, order management, and fulfillment.
  You Have a Portfolio of Sites: Yes, it’s possible to do this with ecommerce sites as well, but it’s much easier to do with content websites. Because they’re passive properties, it’s possible to build, manage, and grow multiple sites at a time. They don’t require your full-time attention to manage. So once it’s up and running, you can start pouring resources into growing another site without worrying about it flopping because you didn’t pay attention to it.
  It’s Versatile: Content websites can be turned into many things. The most valuable asset of a content site is its content that generates organic traffic. It’s the rankings you get on Google, which send you free search traffic and it can be monetized in many different ways. You can even use a content site as a content marketing tool to drive traffic to your ecommerce site (more on this below).
  It’s Sustainable: SEO is the main traffic strategy, and if done correctly, can be a long-term source of free traffic for you. That means that you don’t have to rely on paid ads to drive traffic. Most ecommerce sites rely on paid ads to drive traffic to their site and once the ads get turned off, the traffic gets turned off as well. That’s not the case with SEO. Once you do the work, you’ll get traffic organically long-term. Plus, you are basically establishing yourself as an authority in the niche. You’ll gain an audience of loyal fans who will be a lot more receptive to what you’re selling. This means repeat customers, word of mouth, and good reviews.
  CONS OF BUILDING CONTENT WEBSITES
  It’s Slow: Content sites usually take longer to make money than ecommerce sites. Because the main traffic strategy is SEO, it can take up to 6 months before driving consistent traffic from Google. You have to write articles, get backlinks, and literally nurture your site until it starts picking up.

  Sometimes referred to as a niche site, authority site or blog, content sites are basically a library of content and information built around a certain topic. And the goal is usually constant: Build as much traffic as you can, then monetize that traffic as effectively as possible.

  Some of the biggest content sites on the web today are Forbes, ESPN, Huffington Post, and Inc. Of course, these are giant media companies with hundreds or thousands of employees writing for them. Most content websites you see on the web today are run by just one or two people, and maybe a few freelance writers helping them out.
  
  For example, Succulents and Sunshine is a perfect example of a content website that has built a huge audience (and business) in a tiny niche. The blog is run by a single person, Cassidy Tuttle, who now makes six figures from her blog.
  
  But how did a site like Succulents and Sunshine grow such a large business with only one person running it?
  
  She chose a targeted niche, created evergreen content, and slowly built up a large audience over time. Once she had enough traffic coming in, she monetized it.
  
  That traffic can be monetized in various ways like selling ebooks and courses, offering services, display ads, affiliate marketing, collecting and selling leads, etc. The strategy of building and scaling content sites can differ depending on the strategy you choose.
  
  For example, do you want to put out thought pieces and showcase your personal expertise,
  build an audience who trusts you, then sell services, consulting, or training? Or do you just want to pump out content, rank for as many keywords as possible, and monetize with ads and affiliate links?
  
  When growing a niche site, most people don’t understand that it’s not a “quick” way to make money. It requires a lot of time, resources, and creativity. You could spend 4 months working on it every day and never make a dollar. In fact, most people don’t see any profits before the 6-month mark of growing their site. As a result, most people give up before they start seeing money.
  
  It’s important to understand that it’s a long term investment, and if you’re persistent, it will grow and be profitable eventually. The reason why people are willing to put in the work and wait months before seeing a profit is that once it’s built up, it almost acts like a self-sustaining machine.
  
  The Pros & Cons of Building Niche/Authority Content Websites Over Ecommerce Websites
  Although ecommerce sites do have many pros—including being able to monetize it from the get-go—there are a few instances where building a content site could be more beneficial compared to building an ecommerce site.
  
  PROS OF BUILDING CONTENT WEBSITES
  High Profit Margins: Niche sites have very low overhead cost. Traffic is free, long-term, and many monetization strategies have over 90% profit margins. Ecommerce sites have more expenses. They have to manufacture products or purchase them from suppliers. They also have shipping costs, employees, and will usually need to pay a fee to a fulfillment center.
  It’s Passive: Niche sites are much more passive. Depending on the monetization strategies you use, you can literally not even look at the site for a month and it can still make the same amount of money. If you’re using ads or affiliate marketing, you don’t need to deal with things like customer service, order management, and fulfillment.
  You Have a Portfolio of Sites: Yes, it’s possible to do this with ecommerce sites as well, but it’s much easier to do with content websites. Because they’re passive properties, it’s possible to build, manage, and grow multiple sites at a time. They don’t require your full-time attention to manage. So once it’s up and running, you can start pouring resources into growing another site without worrying about it flopping because you didn’t pay attention to it.
  It’s Versatile: Content websites can be turned into many things. The most valuable asset of a content site is its content that generates organic traffic. It’s the rankings you get on Google, which send you free search traffic and it can be monetized in many different ways. You can even use a content site as a content marketing tool to drive traffic to your ecommerce site (more on this below).
  It’s Sustainable: SEO is the main traffic strategy, and if done correctly, can be a long-term source of free traffic for you. That means that you don’t have to rely on paid ads to drive traffic. Most ecommerce sites rely on paid ads to drive traffic to their site and once the ads get turned off, the traffic gets turned off as well. That’s not the case with SEO. Once you do the work, you’ll get traffic organically long-term. Plus, you are basically establishing yourself as an authority in the niche. You’ll gain an audience of loyal fans who will be a lot more receptive to what you’re selling. This means repeat customers, word of mouth, and good reviews.
  CONS OF BUILDING CONTENT WEBSITES
  It’s Slow: Content sites usually take longer to make money than ecommerce sites. Because the main traffic strategy is SEO, it can take up to 6 months before driving consistent traffic from Google. You have to write articles, get backlinks, and literally nurture your site until it starts picking up.</p>


  <h4 style="background-color: grey;" class="position--sticky">Heading 2</h4>
<p>Sometimes referred to as a niche site, authority site or blog, content sites are basically a library of content and information built around a certain topic. And the goal is usually constant: Build as much traffic as you can, then monetize that traffic as effectively as possible.

  Some of the biggest content sites on the web today are Forbes, ESPN, Huffington Post, and Inc. Of course, these are giant media companies with hundreds or thousands of employees writing for them. Most content websites you see on the web today are run by just one or two people, and maybe a few freelance writers helping them out.
  
  For example, Succulents and Sunshine is a perfect example of a content website that has built a huge audience (and business) in a tiny niche. The blog is run by a single person, Cassidy Tuttle, who now makes six figures from her blog.
  
  But how did a site like Succulents and Sunshine grow such a large business with only one person running it?
  
  She chose a targeted niche, created evergreen content, and slowly built up a large audience over time. Once she had enough traffic coming in, she monetized it.
  
  That traffic can be monetized in various ways like selling ebooks and courses, offering services, display ads, affiliate marketing, collecting and selling leads, etc. The strategy of building and scaling content sites can differ depending on the strategy you choose.
  
  For example, do you want to put out thought pieces and showcase your personal expertise,
  build an audience who trusts you, then sell services, consulting, or training? Or do you just want to pump out content, rank for as many keywords as possible, and monetize with ads and affiliate links?
  
  When growing a niche site, most people don’t understand that it’s not a “quick” way to make money. It requires a lot of time, resources, and creativity. You could spend 4 months working on it every day and never make a dollar. In fact, most people don’t see any profits before the 6-month mark of growing their site. As a result, most people give up before they start seeing money.
  
  It’s important to understand that it’s a long term investment, and if you’re persistent, it will grow and be profitable eventually. The reason why people are willing to put in the work and wait months before seeing a profit is that once it’s built up, it almost acts like a self-sustaining machine.
  
  The Pros & Cons of Building Niche/Authority Content Websites Over Ecommerce Websites
  Although ecommerce sites do have many pros—including being able to monetize it from the get-go—there are a few instances where building a content site could be more beneficial compared to building an ecommerce site.
  
  PROS OF BUILDING CONTENT WEBSITES
  High Profit Margins: Niche sites have very low overhead cost. Traffic is free, long-term, and many monetization strategies have over 90% profit margins. Ecommerce sites have more expenses. They have to manufacture products or purchase them from suppliers. They also have shipping costs, employees, and will usually need to pay a fee to a fulfillment center.
  It’s Passive: Niche sites are much more passive. Depending on the monetization strategies you use, you can literally not even look at the site for a month and it can still make the same amount of money. If you’re using ads or affiliate marketing, you don’t need to deal with things like customer service, order management, and fulfillment.
  You Have a Portfolio of Sites: Yes, it’s possible to do this with ecommerce sites as well, but it’s much easier to do with content websites. Because they’re passive properties, it’s possible to build, manage, and grow multiple sites at a time. They don’t require your full-time attention to manage. So once it’s up and running, you can start pouring resources into growing another site without worrying about it flopping because you didn’t pay attention to it.
  It’s Versatile: Content websites can be turned into many things. The most valuable asset of a content site is its content that generates organic traffic. It’s the rankings you get on Google, which send you free search traffic and it can be monetized in many different ways. You can even use a content site as a content marketing tool to drive traffic to your ecommerce site (more on this below).
  It’s Sustainable: SEO is the main traffic strategy, and if done correctly, can be a long-term source of free traffic for you. That means that you don’t have to rely on paid ads to drive traffic. Most ecommerce sites rely on paid ads to drive traffic to their site and once the ads get turned off, the traffic gets turned off as well. That’s not the case with SEO. Once you do the work, you’ll get traffic organically long-term. Plus, you are basically establishing yourself as an authority in the niche. You’ll gain an audience of loyal fans who will be a lot more receptive to what you’re selling. This means repeat customers, word of mouth, and good reviews.
  CONS OF BUILDING CONTENT WEBSITES
  It’s Slow: Content sites usually take longer to make money than ecommerce sites. Because the main traffic strategy is SEO, it can take up to 6 months before driving consistent traffic from Google. You have to write articles, get backlinks, and literally nurture your site until it starts picking up.

  Sometimes referred to as a niche site, authority site or blog, content sites are basically a library of content and information built around a certain topic. And the goal is usually constant: Build as much traffic as you can, then monetize that traffic as effectively as possible.

  Some of the biggest content sites on the web today are Forbes, ESPN, Huffington Post, and Inc. Of course, these are giant media companies with hundreds or thousands of employees writing for them. Most content websites you see on the web today are run by just one or two people, and maybe a few freelance writers helping them out.
  
  For example, Succulents and Sunshine is a perfect example of a content website that has built a huge audience (and business) in a tiny niche. The blog is run by a single person, Cassidy Tuttle, who now makes six figures from her blog.
  
  But how did a site like Succulents and Sunshine grow such a large business with only one person running it?
  
  She chose a targeted niche, created evergreen content, and slowly built up a large audience over time. Once she had enough traffic coming in, she monetized it.
  
  That traffic can be monetized in various ways like selling ebooks and courses, offering services, display ads, affiliate marketing, collecting and selling leads, etc. The strategy of building and scaling content sites can differ depending on the strategy you choose.
  
  For example, do you want to put out thought pieces and showcase your personal expertise,
  build an audience who trusts you, then sell services, consulting, or training? Or do you just want to pump out content, rank for as many keywords as possible, and monetize with ads and affiliate links?
  
  When growing a niche site, most people don’t understand that it’s not a “quick” way to make money. It requires a lot of time, resources, and creativity. You could spend 4 months working on it every day and never make a dollar. In fact, most people don’t see any profits before the 6-month mark of growing their site. As a result, most people give up before they start seeing money.
  
  It’s important to understand that it’s a long term investment, and if you’re persistent, it will grow and be profitable eventually. The reason why people are willing to put in the work and wait months before seeing a profit is that once it’s built up, it almost acts like a self-sustaining machine.
  
  The Pros & Cons of Building Niche/Authority Content Websites Over Ecommerce Websites
  Although ecommerce sites do have many pros—including being able to monetize it from the get-go—there are a few instances where building a content site could be more beneficial compared to building an ecommerce site.
  
  PROS OF BUILDING CONTENT WEBSITES
  High Profit Margins: Niche sites have very low overhead cost. Traffic is free, long-term, and many monetization strategies have over 90% profit margins. Ecommerce sites have more expenses. They have to manufacture products or purchase them from suppliers. They also have shipping costs, employees, and will usually need to pay a fee to a fulfillment center.
  It’s Passive: Niche sites are much more passive. Depending on the monetization strategies you use, you can literally not even look at the site for a month and it can still make the same amount of money. If you’re using ads or affiliate marketing, you don’t need to deal with things like customer service, order management, and fulfillment.
  You Have a Portfolio of Sites: Yes, it’s possible to do this with ecommerce sites as well, but it’s much easier to do with content websites. Because they’re passive properties, it’s possible to build, manage, and grow multiple sites at a time. They don’t require your full-time attention to manage. So once it’s up and running, you can start pouring resources into growing another site without worrying about it flopping because you didn’t pay attention to it.
  It’s Versatile: Content websites can be turned into many things. The most valuable asset of a content site is its content that generates organic traffic. It’s the rankings you get on Google, which send you free search traffic and it can be monetized in many different ways. You can even use a content site as a content marketing tool to drive traffic to your ecommerce site (more on this below).
  It’s Sustainable: SEO is the main traffic strategy, and if done correctly, can be a long-term source of free traffic for you. That means that you don’t have to rely on paid ads to drive traffic. Most ecommerce sites rely on paid ads to drive traffic to their site and once the ads get turned off, the traffic gets turned off as well. That’s not the case with SEO. Once you do the work, you’ll get traffic organically long-term. Plus, you are basically establishing yourself as an authority in the niche. You’ll gain an audience of loyal fans who will be a lot more receptive to what you’re selling. This means repeat customers, word of mouth, and good reviews.
  CONS OF BUILDING CONTENT WEBSITES
  It’s Slow: Content sites usually take longer to make money than ecommerce sites. Because the main traffic strategy is SEO, it can take up to 6 months before driving consistent traffic from Google. You have to write articles, get backlinks, and literally nurture your site until it starts picking up.</p>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


